$oblivion_dark: #313231;
$oblivion_lightGrey: #9D988F;
$oblivion_white: #F2F0EC;
$oblivion_grey: #5D6263;
$oblivion_darkGrey: #3A3B3B;
$oblivion_green: #8DB14B;
$oblivion_yellow: #FCA321;
$oblivion_red: #DD452E;