@import "./_vars";

.oblivion-card {
  background: $oblivion_dark;
  color: $oblivion_lightGrey;
}

* {
  &::-webkit-scrollbar-thumb {
    background: $oblivion_grey;
  }

  &::-webkit-scrollbar {
    background: $oblivion_dark;
  }
}

body[data-theme=oblivion] {
  background: $oblivion_dark;
  color: $oblivion_white;

  &::-webkit-scrollbar-thumb {
    background: $oblivion_grey;
  }

  &::-webkit-scrollbar {
    background: $oblivion_dark;
  }

  .active-theme-card {
    &::after {
      background: $oblivion_grey;
    }
  }

  .auth {
    &__block {
      &-title {
        color: $oblivion_white;
      }
    }
  }

  .form {

    &__textarea,
    &__input {
      background: $oblivion_darkGrey;
      caret-color: $oblivion_white;
      color: $oblivion_white;

      &::placeholder {
        color: $oblivion_grey;
      }
    }

    &__label {
      &::after {
        background: $oblivion_lightGrey;
      }
    }

    &__submit {
      color: $oblivion_white;
      background: $oblivion_darkGrey;

      &:hover {
        color: $oblivion_darkGrey;
        background: $oblivion_white;
      }
    }
  }

  .invalid-input {
    &::after {
      background: $oblivion_red;
    }
  }

  .notification {
    &__title {
      color: $oblivion_grey;
    }

    &__desc {
      color: $oblivion_dark;
    }

    &--error {
      background: $oblivion_red;
    }

    &--warning {
      background: $oblivion_yellow;
    }

    &--success {
      background: $oblivion_green;
    }
  }

  .header {
    &__list {
      &-link {
        color: $oblivion_grey;

        &:hover {
          color: $oblivion_white;
        }
      }

      &-user {
        &-level {
          background: $oblivion_grey;
          color: $oblivion_dark;
        }
      }
    }
  }

  .testing {
    &-focus {
      &__icon {
        fill: $oblivion_white;
      }

      &__text {
        color: $oblivion_white;
      }
    }

    &__letter {
      color: $oblivion_grey;

      &--complete {
        color: $oblivion_white;
      }

      &--failure {
        color: $oblivion_red;
      }
    }

    &-result {
      &__data {
        background: $oblivion_darkGrey;

        &-row {
          &:not(:last-child) {
            td {
              border-bottom-color: $oblivion_dark;
            }
          }
        }

        &-title {
          color: $oblivion_white;
        }

        &-column {
          &:not(:last-child) {
            border-right-color: $oblivion_dark;
          }
        }

        &-value {
          color: $oblivion_lightGrey;
        }
      }

      &__controls {
        &-btn {
          color: $oblivion_lightGrey;

          &:hover {
            color: $oblivion_white;
          }
        }
      }
    }
  }

  .create-text {
    &__textarea {
      &--invalid {
        border-color: $oblivion_red;
      }
    }
  }

  .account {
    &__info {
      background: $oblivion_darkGrey;

      &-subtitle {
        color: $oblivion_grey;
      }

      &-title {
        color: $oblivion_white;
      }
    }

    &__user {
      &::after {
        background: $oblivion_dark;
      }

      &-level {
        color: $oblivion_grey;

        &-value {
          color: $oblivion_white;
        }
      }

      &-icon {
        fill: $oblivion_grey;

        .cls-1 {
          stroke: $oblivion_dark;
        }
      }
    }
  }

  .table {
    &__body {
      &-content {
        color: $oblivion_white;
      }

      &-row {
        &:nth-child(odd) {
          td {
            background: $oblivion_darkGrey;
          }
        }
      }
    }

    &__header {
      &-title {
        color: $oblivion_grey;
      }
    }
  }

  .settings {
    &__row {
      &-title {
        color: $oblivion_grey;

        &--active {
          color: $oblivion_white;
        }
      }

      &-header {
        &:hover>h2 {
          color: $oblivion_white;
        }

        &:hover>svg {
          fill: $oblivion_white;
        }
      }

      &-icon {
        fill: $oblivion_grey;

        &--rotate {
          fill: $oblivion_white;
        }
      }
    }
  }

  .logout {
    &__title {
      color: $oblivion_white;
    }
  }

  .caret {
    background: $oblivion_lightGrey;
  }
}