@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import "../../node_modules/normalize.css/normalize.css";
@import "./_vars";
@import "./themes/serikaDark/_styles";
@import "./themes/monokai/_styles";
@import "./themes/bushido/_styles";
@import "./themes/oblivion/_styles";
@import "./themes/cyberspace/_styles";
@import "./themes/oneDark/_styles";
@import "./themes/milkshake/_styles";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  resize: none;
  outline: none;
  text-decoration: none;
}

*,
body {
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }

  &::-webkit-scrollbar {
    border-radius: 8px;
    width: 6px;
  }
}

body {
  @extend %roboto-mono-400;
}

table {
  border-collapse: collapse;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input[type=button],
input[type=submit] {
  &[disabled] {
    opacity: .8;
    cursor: not-allowed;
    pointer-events: none;
  }
}

#__nuxt,
#__layout,
#__layout>div {
  min-height: 100vh;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1420px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
  min-height: inherit;
}

.active-theme-card {
  position: relative;
  padding-left: 30px;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 10px;
    position: absolute;
  }
}

.table {
  &__header {
    &-controls {
      display: flex;
      align-items: center;

      &-block {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      &-btn {
        cursor: pointer;
        background: none;
        border: none;
      }
    }

    &-title {
      padding: 0 10px 10px 10px;
      font-size: 14px;
      text-align: left;
      @extend %roboto-mono-400;
    }
  }

  &__checkbox {
    &-icon {
      width: 60%;
      height: 60%;
      transition: stroke .2s;
      stroke: transparent;
    }

    &-label {
      cursor: pointer;
      display: inline-block;
    }

    &-style {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      transition: border-color, background, .2s;
    }
  }

  &__body {
    &-row {
      padding: 10px;

      &:nth-child(odd) {
        td {
          &:first-child {
            border-radius: 10px 0 0 10px;
          }

          &:last-child {
            border-radius: 0 10px 10px 0;
          }
        }
      }
    }

    &-content {
      padding: 10px;
    }
  }
}