$dark: #323437;
$grey: #626467;
$lightGrey: #C8C7BC;
$black: #2C2E31;
$yellow: #E2B714;
$red: #CA4754;
$green: #40CC7D;

%roboto-mono-300 {
  font-weight: 300;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-400 {
  font-weight: 400;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-500 {
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-600 {
  font-weight: 600;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-700 {
  font-weight: 700;
  font-family: "Roboto Mono", sans-serif;
}