// Serika dark
$serikaDark_dark: #323437;
$serikaDark_grey: #626467;
$serikaDark_lightGrey: #C8C7BC;
$serikaDark_black: #2C2E31;
$serikaDark_yellow: #E2B714;
$serikaDark_red: #CA4754;
$serikaDark_green: #40CC7D;

// Monokai
$monokai_brown: #272822;
$monokai_yellow: #E6DB74;
$monokai_green: #A6E22E;
$monokai_white: #E1E1DC;
$monokai_darkBrown: #1F201B;
$monokai_turquoise: #66d9ef;
$monokai_red: #f92672;

// bushido
$bushido_dark: #242933;
$bushido_black: #1C222D;
$bushido_red: #EC4C56;
$bushido_white: #F6F0E9;
$bushido_grey: #596172;

// oblivion
$oblivion_dark: #313231;
$oblivion_lightGrey: #9D988F;
$oblivion_white: #F2F0EC;
$oblivion_grey: #5D6263;
$oblivion_darkGrey: #3A3B3B;
$oblivion_green: #8DB14B;
$oblivion_yellow: #FCA321;
$oblivion_red: #DD452E;

%roboto-mono-300 {
  font-weight: 300;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-400 {
  font-weight: 400;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-500 {
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-600 {
  font-weight: 600;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-700 {
  font-weight: 700;
  font-family: "Roboto Mono", sans-serif;
}