// Serika dark
$serikaDark_dark: #323437;
$serikaDark_grey: #626467;
$serikaDark_lightGrey: #C8C7BC;
$serikaDark_black: #2C2E31;
$serikaDark_yellow: #E2B714;
$serikaDark_red: #CA4754;
$serikaDark_green: #40CC7D;

// Monokai
$monokai_brown: #272822;
$monokai_yellow: #E6DB74;
$monokai_green: #A6E22E;
$monokai_white: #E1E1DC;
$monokai_darkBrown: #1F201B;
$monokai_turquoise: #66d9ef;
$monokai_red: #f92672;

%roboto-mono-300 {
  font-weight: 300;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-400 {
  font-weight: 400;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-500 {
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-600 {
  font-weight: 600;
  font-family: "Roboto Mono", sans-serif;
}

%roboto-mono-700 {
  font-weight: 700;
  font-family: "Roboto Mono", sans-serif;
}