@import "./_vars";

.serika-dark-card {
  background: $serikaDark_black;
  color: $serikaDark_yellow;
}

* {
  &::-webkit-scrollbar-thumb {
    background: $serikaDark_grey;
  }

  &::-webkit-scrollbar {
    background: $serikaDark_black;
  }
}

body[data-theme=serika-dark] {
  background: $serikaDark_dark;
  color: $serikaDark_lightGrey;

  &::-webkit-scrollbar-thumb {
    background: $serikaDark_grey;
  }

  &::-webkit-scrollbar {
    background: $serikaDark_black;
  }

  .active-theme-card {
    &::after {
      background: $serikaDark_yellow;
    }
  }

  .form {

    &__textarea,
    &__input {
      background: $serikaDark_black;
      caret-color: $serikaDark_yellow;
      color: $serikaDark_grey;

      &:focus {
        color: $serikaDark_lightGrey;
      }
    }

    &__label {
      &::after {
        background: $serikaDark_green;
      }
    }

    &__submit {
      color: $serikaDark_lightGrey;
      background: $serikaDark_black;

      &:hover {
        color: $serikaDark_black;
        background: $serikaDark_lightGrey;
      }
    }
  }

  .invalid-input {
    &::after {
      background: $serikaDark_red;
    }
  }

  .notification {
    &__title {
      color: $serikaDark_dark;
    }

    &__desc {
      color: $serikaDark_black;
    }

    &--error {
      background: $serikaDark_red;
    }

    &--warning {
      background: $serikaDark_yellow;
    }

    &--success {
      background: $serikaDark_green;
    }
  }

  .header {
    &__list {
      &-link {
        color: $serikaDark_grey;

        &:hover {
          color: $serikaDark_lightGrey;
        }
      }

      &-user {
        &-level {
          background: $serikaDark_grey;
          color: $serikaDark_dark;
        }
      }
    }
  }

  .testing {
    &-focus {
      &__icon {
        fill: $serikaDark_lightGrey;
      }
    }

    &__header {
      &-param {
        &-value {
          color: $serikaDark_yellow;
        }
      }

      &-progress {
        &-slider {
          background: $serikaDark_black;

          &-line {
            background: $serikaDark_yellow;
          }
        }
      }
    }

    &__letter {
      color: $serikaDark_grey;

      &--complete {
        color: $serikaDark_lightGrey;
      }

      &--failure {
        color: $serikaDark_red;
      }
    }

    &-result {
      &__data {
        background: $serikaDark_black;

        &-row {
          &:not(:last-child) {
            td {
              border-bottom-color: $serikaDark_dark;
            }
          }
        }

        &-column {
          &:not(:last-child) {
            border-right-color: $serikaDark_dark;
          }
        }

        &-value {
          color: $serikaDark_yellow;
        }
      }

      &__controls {
        &-btn {
          color: $serikaDark_grey;

          &:hover {
            color: $serikaDark_lightGrey;
          }
        }
      }
    }
  }

  .create-text {
    &__textarea {
      &--invalid {
        border-color: $serikaDark_red;
      }
    }
  }

  .account {
    &__info {
      background: $serikaDark_black;

      &-subtitle {
        color: $serikaDark_grey;
      }

      &-title {
        color: $serikaDark_yellow;
      }
    }

    &__user {
      &::after {
        background: $serikaDark_dark;
      }

      &-level {
        color: $serikaDark_grey;

        &-value {
          color: $serikaDark_yellow;
        }
      }

      &-icon {
        fill: $serikaDark_dark;

        .cls-1 {
          stroke: $serikaDark_grey;
        }
      }
    }
  }

  .table {
    &__checkbox {
      &:checked+span {
        border-color: $serikaDark_green;
        background: $serikaDark_green;

        &>svg {
          stroke: $serikaDark_black;
        }
      }

      &-style {
        border-color: $serikaDark_lightGrey;
      }
    }

    &__body {
      &-content {
        color: $serikaDark_lightGrey;
      }

      &-row {
        &:nth-child(odd) {
          td {
            background: $serikaDark_black;
          }
        }
      }
    }

    &__header {
      &-controls {
        &-btn {
          &--remove {
            color: $serikaDark_red;
          }
        }
      }

      &-title {
        color: $serikaDark_grey;
      }
    }
  }

  .settings {
    &__row {
      &-title {
        color: $serikaDark_grey;

        &--active {
          color: $serikaDark_lightGrey;
        }
      }

      &-header {
        &:hover>h2 {
          color: $serikaDark_lightGrey;
        }

        &:hover>svg {
          fill: $serikaDark_lightGrey;
        }
      }

      &-icon {
        fill: $serikaDark_grey;

        &--rotate {
          fill: $serikaDark_lightGrey;
        }
      }

      &-caret {
        &-param {
          &-title {
            color: $serikaDark_grey;
          }

          &-label {
            .form__radio:checked+span {
              background: $serikaDark_yellow;
              color: $serikaDark_black;

              .caret__view-default,
              .caret__view-block {
                background: $serikaDark_black;
              }

              .caret__view-outline {
                border-color: $serikaDark_black;
              }
            }
          }

          &-radio {
            background: $serikaDark_black;
          }
        }
      }
    }
  }

  .logout {
    &__title {
      color: $serikaDark_lightGrey;
    }
  }

  .favorites {
    &__table {
      &-link {
        color: $serikaDark_lightGrey;
      }
    }
  }

  .caret {
    &:not([data-view=outline]) {
      background: $serikaDark_yellow;
    }

    &[data-view=outline] {
      border-color: $serikaDark_yellow;
    }

    &__view {
      &-outline {
        border-color: $serikaDark_lightGrey;
      }

      &-default,
      &-block {
        background: $serikaDark_lightGrey;
      }
    }
  }
}